

<div class="custom-navigation-container">
  <ul class="custom-navigation-link-list">
    {% for link in section.settings.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% stylesheet %}
.custom-navigation-container {
  /* Add styles for the container */
}

.custom-navigation-link-list {
  /* Add styles for the link list */
}
{% endstylesheet %}


{% schema %}
  {
    "name": "Custom Navigation",
    "class": "custom-navigation",
    "settings": [
      {
        "type": "header",
        "content": "Custom Navigation Settings"
      },
      {
        "type": "link_list",
        "id": "links",
        "label": "Links",
        "info": "Add up to four links to the custom navigation."
        
      }
    ],
    "presets": []
  }
{% endschema %}