{% assign pages = "about-us, contact-us, shop, faqs" | split: ', ' %}

<nav class="page-nav">
  <h1>PAGE NAV TEST </h1>
  <ul>
    {% for page in pages %}
      {% assign page_handle = page | handleize %}
      <li><a href="{{ page_handle }}">{{ page }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% schema %}
  {
    "name": "Page nav",
    "settings": [],
    "presets": [
      {
        "name": "Page nav"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}