{% assign pages = "About, FAQs, Size Guide, Test" | split: ', ' %}

<nav class="page-nav-wrapper">
  <ul>
    {% for page in pages %}
      {% assign page_handle = page | handleize %}
      <li><a class="page-nav-link "href="/pages/{{ page_handle }}">{{ page }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% schema %}
  {
    "name": "Page nav",
    "settings": [],
    "presets": [
      {
        "name": "Page nav"
      }
    ]
  }
{% endschema %}

{% style %}

  nav.page-nav-wrapper {
      padding-top: 10px;
      width: 90%;
      max-width: 1000px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      margin: auto;
  }

   nav.page-nav-wrapper > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
  }

  nav.page-nav-wrapper > ul > li {
    text-align: center;
    //border: 1px solid lightgray;
    list-style-type: none;
    width: 25%;
  }

  a.page-nav-link {
    display: block;
    color: black;
    font-weight: bold;
    line-height: 6rem;
  }

  
  nav.page-nav-wrapper > ul > li:hover {
    background-color: black;
    color: white;
  }

  a.page-nav-link:hover,  a.page-nav-link:visited,  a.page-nav-link:link,  a.page-nav-link:active
  {
      text-decoration: none;
  }

  a.page-nav-link:hover {
    color: white
  }

  @media only screen and (max-width: 767px) {
    nav.page-nav-wrapper > ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    nav.page-nav-wrapper > ul > li {
      width: 100%;
    }

    a.page-nav-link:active {
      color: white;
      background-color: black;
    }
  }
  
{% endstyle %}


{% javascript %}
  $("#nav.page-nav-wrapper > ul > li").on('click','li',function(){
     $(this).addClass("active");  // adding active class
});
{% endjavascript %}