{% assign pages = "About, FAQs, Size Guide, Test" | split: ', ' %}

<nav class="page-nav-wrapper">
  <ul>
    {% for page in pages %}
      {% assign page_handle = page | handleize %}
      <li><a class="page-nav-link "href="/pages/{{ page_handle }}">{{ page }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% schema %}
  {
    "name": "Page nav",
    "settings": [],
    "presets": [
      {
        "name": "Page nav"
      }
    ]
  }
{% endschema %}

{% style %}

  nav.page-nav-wrapper {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
  }

   nav.page-nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  nav.page-nav-wrapper > ul > li {
      list-style-type: none;
  }
  
{% endstyle %}


{% javascript %}
{% endjavascript %}