{% assign pages = 'about-us, contact-us, shop, faqs' | split: ', ' %}

<nav class="page-nav">
  <ul>
    {% for page in pages %}
      {% assign page_handle = page | handleize %}
      <li><a href="{{ page_handle }}">{{ page }}</a></li>
    {% endfor %}
  </ul>
</nav>